
*.pyc
*.pth
*.DS_Store
experts/models/edges_dexined23.h5
experts/models/edges_dexined.h5
experts/models/of_liteflownet
experts/models/cartoon_wb
experts/models/*.tar
experts/spixel/third_party/cython/build/temp.linux-x86_64-3.8/connectivity.o

nohup.out
*events.out.tfevents*
.ropeproject/objectdb
histograms
.gitignore
csv_results*/results_*.csv
notebooks/*
nohup*.out
csv_results_elena/*.csv
logs_*.out
configs/configs_*ian*
configs/configs_*feb*
my_script.sh
my_configs/*
logs/*.log*
csv_results/*.csv
z_my_configs
preprocess_dbs/logs/*
logs/*
generated_configs/*.ini
t*_script.sh
preprocess_dbs/depths_analysis/*.png
preprocess_dbs/depths_analysis/logs_*
preprocess_dbs/depths_analysis/*/*.png
preprocess_dbs/depths_analysis/*/*.csv
calitatives/*
my_cache_*
runs/*
*/__pycache__
__pycache__
.vscode/launch.json
.vscode/.ropeproject/config.py
.vscode/.ropeproject/objectdb
